/* CSS INFO BUBBLES */
.bubble-wrap {
  position: absolute;
  padding-bottom: 15px;
}
.bubble-wrap > span {
  display: inline-block;
  opacity: 0;
  margin-bottom: 5px;
}
.bubble-wrap > span:not(.bubble) {
  position: absolute;
  z-index: -99;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

span.bubble {
  color: #333;
  width: auto;
  height: auto;
  position: relative!important;
  padding: 15px;
  border: 5px solid #969595;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  visibility: visible!important;
  overflow: visible!important;
  z-index: 99!important;
  background: #fff;
  opacity: 1;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.bubble:before {
  content:"";
  position: absolute;
  bottom: -20px; /* value = - border-top-width - border-bottom-width */
  left: 15px; /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #969595 transparent;
  /* reduce the damage in FF3.0 */
  display: block; 
  width: 0;
}

/* creates the smaller triangle */
.bubble:after {
  content:"";
  position: absolute;
  bottom: -13px; /* value = - border-top-width - border-bottom-width */
  left: 22px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block; 
  width: 0;
}

ul.bubble-list {
  list-style-type: none;
  padding-left: 14px;
  margin: -13px -2px;
}

.bubble-list li {
  padding-left: 0;
  margin-left: -1em;
}

/* ensure image map region can be hoevered on */
map > area {
  z-index: 1000!important;
}
